<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,
          initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    @*arquivos de css*@
    <link href="@Url.Content("~/content/bootstrap.css")"
          rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    
    <br />
    <div class="navbar-wrapper">
        <div class="container">
           
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @*Html.ActionLink("Test C", "Index", "Home", new { @class = "navbar-brand" })*@
                        <a class="navbar-brand" href="/">Test C<small class="text-danger"> Informatica e perifericos</small></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Products", "Index", "Products")</li>
                            <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                            <li>@Html.ActionLink("Stores", "Index", "Stores")</li>
                            <li>@Html.ActionLink("Storages", "Index", "Storages")</li>
                            <li>@Html.ActionLink("Buys", "Index", "Buys")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Nav header</li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <div class="container">
        
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <br />
                @RenderBody()
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-danger">
                <small>Empresa TestC 
                Componentes e Periféricos</small>
            </div>
        </div>
    </div>
    <script src="@Url.Content(
                "~/scripts/jquery-3.2.1.js")"></script>
    <script src="@Url.Content(
                "~/scripts/bootstrap.js")"></script>
    @RenderSection("ScriptPage", false)

</body>
</html>
